// Override Bootstrap typography variables

$font-family-base: 'Quicksand';

$headings-font-family: 'Quicksand';
$headings-font-weight: 700;

$headings-color: $base00;

$h1-font-size: 6rem;
$h2-font-size: 3.5rem;
$h3-font-size: 2rem;
